// http://codepen.io/rontav/pen/bdjvQX
// Converted to sass and modified by Valentin Mocanu

@import 'colors';

$base-200: #90caf9;
$base-500: #2196f3;
$base-700: #1976d2;
$grey-200: #eeeeee;
$accent: #311b92;
$textAccent: #fff;
$errorColor: #DD2C00;

.materialBtn {
    &.raised{
        position: relative;
        font-size: 18px;
        padding: 10px 16px;
        line-height: 1.33;
        color: #000;
        border-radius: 3px;
        border: 0;
        background: #fff;
        overflow: hidden;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
        outline: 0 !important;
        text-decoration: none !important;
        cursor: pointer;
        user-select: none;
        transition: background 0.3s, box-shadow 0.3s;

        .drop{
            background: rgba(0, 0, 0, 0.2);
        }
        &:hover{
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
        }
        &:active{
            box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
        }

        &.loading {
            &:before,
            &:after {
                content: "";
                width: 100%;
                height: 10px;
                position: absolute;
                bottom: 0;
                left: 0;
            }
            &:before{
                border-bottom: 4px solid $base-200;
            }
            &:after {
                border-bottom: 4px solid $base-500;
                animation: indeterminateBar 3s linear infinite;
            }
        }
    }
    &.flat{
        @extend .raised;
        box-shadow: none !important;
        transition: background 0.3s;

        &:hover{
            background: rgba(153, 153, 153, 0.2);
        }
        &:active{
            background: rgba(153, 153, 153, 0.4);
        }
        .material-icons{
            vertical-align: middle;
        }
        &.iconBtn{
            border-radius: 0;
            border: 0;
        }
    }
    &.iconBtn{
        display: inline-block;
        width: 4em;
        height: 4em;
        background-color: #FFF;
        color: #9e9e9e;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 2em;
        overflow: hidden;
        transform: translateZ(0);
        transition: all 0.3s ease;

        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        }
        &:active {
            transform: scale(1.1, 1.1);
        }
        &:focus {
            outline: 0;
            border: none;
            color: rgba(0, 0, 0, 0);
        }
        &.pink > span > span {
            background-color: $pink;
        }
        > span {
            display: block;
            position: relative;
            width: 2em;
            height: 2em;
            overflow: hidden;
            margin: calc(50% - 1em);
            transform: translate(0, 0) scale(1,1);
            transition: all 0.5s ease;

            > span {
                display: block;
                background-color: #9e9e9e;
                position: absolute;
                top: 0;
                left: 0;
                width: 2em;
                height: 2em;
                border: 1px solid transparent;
                transform: translate(0, 0) scale(1,1);
                transition: all 0.5s ease;
            }
        }
    }
    &.btn-play > span {
        transform: translate(1em, 0) scale(1.6, 1);
    }
    &.btn-play > span > span {
        transform: rotate(-45deg) translate(-1em, -1em) scale(1, 1);
    }
    &.btn-pause > span > span {
        transform: scale(0.4, 1) translate(-1.6em, 0);
    }
    &.btn-pause > span > span.s3 {
        transform: scale(0.4, 1) translate(1.6em, 0);
    }
    &.btn-stop > span {
        transform: scale(0.8, 0.8);
    }
    &.btn-menu > span > span {
        transform: scale(1, 0.2) translate(0, -3em);
    }
    &.btn-menu > span > span.s2 {
        transform: scale(1, 0.2) translate(0, 0);
    }
    &.btn-menu > span > span.s3 {
        transform: scale(1, 0.2) translate(0, 3em);
    }
    &.btn-close > span {
        transform: rotate(45deg);
    }
    &.btn-close > span > span,
    &.btn-plus > span > span {
        transform: scale(1, 0.2);
    }
    &.btn-close > span > span.s3,
    &.btn-plus > span > span.s3 {
        transform: scale(0.2, 1);
    }
    &.btn-minus > span > span {
        transform: scale(1, 0.2);
    }
    &.btn-more > span > span {
        transform: scale(0.2, 0.2) translate(-3em, 0);
        border-radius: 2em;
    }
    &.btn-more > span > span.s2 {
        transform: scale(0.2, 0.2) translate(0, 0);
    }
    &.btn-more > span > span.s3 {
        transform: scale(0.2, 0.2) translate(3em, 0);
    }
    &.btn-topArrow > span > span {
        width: 0.4em;
        height: 1.8em;
        transform: translate(0.8em, 0.2em);
    }
    &.btn-topArrow > span > span.s2 {
        transform-origin: 0 0;
        height: 1.4em;
        transform: translate(1em, 0) rotate(45deg);
    }
    &.btn-topArrow > span > span.s3 {
        transform-origin: 100% 0;
        height: 1.4em;
        transform: translate(0.6em, 0) rotate(-45deg);
    }
    &.btn-bottomArrow > span > span {
        width: 0.4em;
        height: 1.8em;
        transform: translate(0.8em, 0);
    }
    &.btn-bottomArrow > span > span.s2 {
        transform-origin: 100% 100%;
        height: 1.4em;
        transform: translate(0.6em, 0.6em) rotate(45deg);
    }
    &.btn-bottomArrow > span > span.s3 {
        transform-origin: 0 100%;
        height: 1.4em;
        transform: translate(1em, 0.6em) rotate(-45deg);
    }
    &.btn-rightArrow > span > span {
        width: 1.8em;
        height: 0.4em;
        transform: translate(0, 0.8em);
    }
    &.btn-rightArrow > span > span.s2 {
        transform-origin: 100% 0;
        width: 1.4em;
        transform: translate(0.6em, 1em) rotate(45deg);
    }
    &.btn-rightArrow > span > span.s3 {
        transform-origin: 100% 100%;
        width: 1.4em;
        transform: translate(0.6em, 0.6em) rotate(-45deg);
    }
    &.btn-leftArrow > span > span {
        width: 1.8em;
        height: 0.4em;
        transform: translate(0.2em, 0.8em);
    }
    &.btn-leftArrow > span > span.s2 {
        transform-origin: 0 100%;
        width: 1.4em;
        transform: translate(0, 0.6em) rotate(45deg);
    }
    &.btn-leftArrow > span > span.s3 {
        transform-origin: 0 0;
        width: 1.4em;
        transform: translate(0, 1em) rotate(-45deg);
    }
    &.btn-checked > span > span {
        width: 1em;
        height: 0.4em;
        transform-origin: 100% 100%;
        transform: translate(-0.3em, 1.4em) rotate(45deg);
    }
    &.btn-checked > span > span.s3 {
        width: 1.8em;
        transform-origin: 0 100%;
        transform: translate(0.7em, 1.4em) rotate(-45deg);
    }
    &.btn-heart > span > span {
        width: 1em;
        height: 1.7em;
        top: 0.2em;
        left: 1em;
        transform-origin: 0 100%;
        transform: rotate(-45deg);
        border-radius: 1em 1em 0 0;
    }
    &.btn-heart > span > span.s3 {
        transform-origin: 100% 100%;
        left: 0em;
        transform: rotate(45deg);
    }
}
@keyframes indeterminateBar {
    0%{
        width: 0;
        left: -30%;
    }
    15%{
        width: 45%;
    }
    25%{
        width: 60%;
        left: 50%;
    }
    50%{
        width: 0;
        left: 150%;
    }
    51%{
        width: 0%;
        left: -30%;
    }
    55%{
        width: 20%;
    }
    65%{
        width: 40%;
    }
    76%{
        width: 30%;
        left: 40%;
    }
    100%{
        width: 0;
        left: 200%;
    }
}

.drop {
    display: block;
    position: absolute;
    background: #CCC;
    border-radius: 100%;
    transform: scale(0);
    pointer-events: none;
    width: 100%;
    height: 100%;

    &.animate {
        animation: drop 1s ease-out;
    }
}

@keyframes drop {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

.materialList{
    div{
        padding: 10px 20px;
        border-bottom: 1px solid $indigo-500;
        font-size: 24px;
    }
}