@import 'variables';

.big + main {
    .controls {
        left: $leftMenuWidth;
        width: calc(100% - #{$leftMenuWidth});
    }
}

.radiopi {
    padding-bottom: 2 * $headerHeight;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    font-size: 24px;
    text-align: center;
    transform: translate(-50%, -50%);
}

.station {
    display: block;
    width: 100%;
    min-height: 100%;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    border-bottom: 1px solid $main-500;
    transition: background 0.5s, color 0.5s;

    &.active {
        color: $white;
        background: $main-600;
    }
    &.faded {
        background: $main-400;
    }
}

.controls {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2 * $headerHeight;
    text-align: center;
    background: $main-600;
    transition: left 0.5s, width 0.5s;

    .iconBtn {
        display: inline-block;
        height: 100%;
        padding: ($headerHeight - 30px) / 2;
        margin-left: 50px;
        vertical-align: middle;
        transition: background 0.5s;

        &.leftArrow {
            margin-left: 0;
        }
        &:hover {
            background: $main-700;
        }
        .drop {
            background: $white;
        }
        > span {
            vertical-align: middle;

            > span {
                background: $accent-400;
            }
        }
    }
}
