@import 'variables';

#table {
    .materialBtn {
        display: inline-block;
        padding: 5px;
        border-radius: 5px;
    }
    .fa {
        margin-top: -2px;
        font-size: 20px;
    }
    .flat {
        .fa {
            color: $red-800;
        }
    }
}
